#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: -2;
    transition: all 0.3s;
    background: linear-gradient(to bottom, 
        rgba(209, 227, 246, 0.8) 0%, 
        rgba(209, 227, 246, 0.4) 50%,
        rgba(209, 227, 246, 0) 100%);
}

#scroll-nav-item {
    text-shadow: none;
    color: #0a1a3a; /* primary color */
    font-size: 28px;
}

.inactive {
    opacity: 0.3 !important;
    filter: grayscale(1) !important;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

header {
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    z-index: 1000;
}

header nav {
    display: flex;
    align-items: end;
    gap: 15px;
    color: #0a1a3a; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: all 0.3s;
}

header nav .nav-item {
    transition: all 0.3s;
    color: #d60909; 
    text-decoration: none;
    align-items: bottom;
    font-size: 28px;
}

header nav .inactive {
    opacity: 0.3;
    filter: grayscale(1);
}

header .name {
    font-size: 40px;
    margin-left: 70px;
    transition: all 0.3s;
    color: #d60909; 
    align-items: center;
    height: 100%;
}

header .mid-nav {
    margin-right: 40px;
}

header .name::after {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../骷髅.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid; */
    border-radius: 8px;
    border: 1px solid #4a6274; /* secondary color */
}

header button {
    font-family: "KaiTi", "KaiTiGB2312";
    font-size: 28px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #0a1a3a; 
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

header a {
    font-family: "KaiTi", "KaiTiGB2312";
    font-size: 28px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #0a1a3a; 
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

header .button {
    transition: all 0.3s;
}

header .search-container {
    position: relative;
}

header .search-btn {
    font-size: 22px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

header .search-box {
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 32px;
    top: -5px;
    right: 0px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #4a6274; 
    transition: all 0.3s;
}

header .search-box .search-input {
    padding: 5px;
    height: 30px;
    width: 100%;
    background: white;
    color: #5c6b73; 
    transition: all 0.3s;
}

@media (max-width: 1200px) {
    .mid-nav { display: none; }
    .right-nav .button { display: none; }
    header .name { font-size: 32px;}
}

.menu-container {
    position: relative;

}

.menu-btn {
    opacity: 1;
}

.menu {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(10, 26, 58, 0.8); 
}

.X {
    display: none;
    position: absolute;
    top: -5px;
    left: 2px;
    z-index: 3;
    color: #c4a35a; 
}